ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #fe8163;
  content: ">>";
}
ul.breadcrumb li a {
  color: #fe8163;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #fac583;
}

.img {
  background-image: url("/css/img/bg.jpg");
  background-size: cover;
  border-radius: 10px;
  height: 550px;
}

.box-content {
  border: 2px solid #34809a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;
  background-color: white;
  color: #343434;
  border-radius: 1rem;
  height: 554px;
}

.card-title {
  font-weight: bold;
  color: #34809a;
}

h6 {
  color: #fe8163;
  font-weight: bold;
}

.card-img-top {
  border-radius: 1rem 1rem 0 0;
}

.ikon {
  margin-right: 5px;
  color: #fe8163;
}

.joinEvent-btn,
.join-btn {
  margin-top: 20px;
  font-weight: bold;
  color: white;
  background-color: #046c8b;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid white;
  transition: 0.5s;
}

.joinEvent-btn:hover,
.join-btn:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  border: 2px solid #34809a !important;
  border-radius: 5px;
  outline: none;
  border: none;
}

select {
  border: 1px solid #34809a;
  margin-left: 10px;
  border-radius: 5px;
}

#daftar {
  display: none;
}

hr {
  color: #34809a;
}
