.content-et {
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.img {
  background-image: url("/css/img/bg.jpg");
  background-size: cover;
  border-radius: 10px;
  height: 400px;
}

.filter {
  border: none;
  border-bottom: 1px solid black;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;
  background-color: #046c8b;
  color: white;
  border-radius: 1rem;
  transition: 0.5s;
}

.card-title {
  font-weight: bold;
}

a {
  text-decoration: none;
}

.card:hover {
  transform: scale3d(1.03, 1.03, 1.03);
}

.card-img-top {
  border-radius: 1rem 1rem 0 0;
}

.far,
.fas {
  margin-right: 5px;
}
