body {
  /* background-color: rgb(51, 51, 51); */
  font-family: "Poppins", sans-serif;
}

.resetform {
  margin: 5% auto;
}
.container {
  background-color: whitesmoke;
  height: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.greenbox {
  background-color: rgba(51, 204, 51, 0.5);
  border-radius: 5px;
  border: 1px solid rgb(51, 204, 51);
}
input {
  border: none;
  border-bottom: 1px solid rgb(51, 51, 51);
  background-color: whitesmoke;
  padding: 5px 20px;
}

input:focus {
  outline: none;
}

.btn {
  border-radius: 2rem;
  background-color: rgb(51, 51, 51);
  color: whitesmoke;
  transition: 0.7s;
  border: 2px solid rgb(51, 51, 51);
}

.btn:hover {
  border: 2px solid rgb(51, 51, 51);
  background-color: whitesmoke;
  color: rgb(51, 51, 51);
}

.form-group #token,
.form-group #email {
  border: 1px solid rgb(51, 51, 51);
  border-radius: 2rem;
}
