<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/bc6bf428b6.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="css/register.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap" rel="stylesheet">
    <title>Register Account</title>
  </head>
  <body>
    <div class="col-lg-7 loginform">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 img">
                    <h3>Welcome to STEVEN</h3>
                    <p>Make your event much happier with <br>STIS Event Organizer</p>
                    <a href="index.html" class="btn btn-primary signup-btn">Sign In</a>
                </div>
                <div class="col-lg-6 card-body pt-5">
                    <h2 style="text-align: center; font-weight: bold;" class="pb-2">Sign Up</h2>
                    <form>
                        <div class="form-group">
                            <i class="fas fa-envelope"></i>
                            <input type="email" class="col-md-11 my-2" id="email"name="email" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <i class="fas fa-user-circle"></i>
                            <input type="text" class="col-md-11 mb-2" id="fname" name="fname" placeholder="Full Name" required>
                        </div>
                        <div class="form-group">
                            <i class="fas fa-phone-alt"></i>
                            <input type="text" class="col-md-11 mb-2" id="phone" name="phone" placeholder="Phone Number" required>
                        </div>
                        <div class="form-group">
                            <i class="fas fa-lock"></i>
                            <input type="password" class="col-md-11 mb-2" id="password" name="password"  placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <i class="fas fa-lock"></i>
                            <input type="password" class="col-md-11 mb-2" id="confirm" name="confirm" placeholder="Confirm Password" required>
                        </div>
                        <div class="error" id="error">

                        </div>
                        <button type="submit" class="col-md-12 mt-2 btn login-btn" onclick="check()" >Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function check(){
            var email = document.getElementById("email");
            var uname = document.getElementById("username");
            var phone = document.getElementById("phone");
            var pword = document.getElementById("password");
            var confirm = document.getElementById("confirm");
            var error = document.getElementById("error");

            if(uname.value.length < 4){
                error.innerHTML = "*Input username at least 4 character";
                if(Number.isInteger(phone.value)==false){
                    error.innerHTML="Phone number must be integer";
                    if(pword.value < 8){
                        error.innerHTML="*Input password at least 8 character";
                        if(confirm.value != pword.value){
                            error.innerHTML= "*Confirm Password must be same as Password";
                            return false;
                        } else {
                            error.innerHTML="";
                            return true;
                        }

                        return false;
                    } else{
                        error.innerHTML="";
                        return true;
                    }
                    return false;
                } else{
                    error.innerHTML="";
                    return true;
                }
                return false;
            }else{
                error.innerHTML="";
                return true;
            }
            
        }
    </script>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>